.root {
    -fx-background-image: url("background.jpg");
}

.button{
    -fx-text-fill: #ffffff;
    -fx-background-color: linear-gradient(to bottom right, #ff853d, #8b52f2);
}

.label{
    -fx-text-fill: #662d91;
    -fx-font-weight: bold;
}

.check-box{
    -fx-text-fill: #662d91;
    -fx-font-weight: bold;
}

#errorInfo{
    -fx-text-fill: red;
}